{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{% for main_hero in hero_section %}
<title>{{main_hero.first_name}} | About</title>
{% endfor %}


 {% for favicon in site_logo %}
<link rel="icon" type="image/png" sizes="32x32" href="{{favicon.fav_icon_32_png.url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{favicon.fav_icon_16_png.url}}">
{% endfor %}

<!-- Fallback for older browsers -->
{% for favicon in site_logo %}
<link rel="shortcut icon" href="{{favicon.fav_icon_ico.url}}">
{% endfor %}

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> <!-- FOR DARK MODE: Add class "dark" Example: <body class="dark">  FOR RTL MODE: Add class "rtl" Example: <body class="rtl"> -->
	
	<!-- PRELOADER -->
	<div class="waxon_tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

<!-- WRAPPER ALL -->

<div class="waxon_tm_all_wrap" data-magic-cursor="show"> <!-- MAGIC CURSOR VALUES: show, hide -->
	
	<!-- TOPBAR -->
	<div class="waxon_tm_topbar">
		<div class="container">
			<div class="topbar_inner">
				<div class="logo">
					<a href="{% url 'home' %}">
						{% for logo in site_logo %}
						<img src="{{logo.site_logo.url}}" alt="" />
						{% endfor %}
					</a>
				</div>
				<div class="menu">
					<div class="links">
						<ul class="anchor_nav">
							<li>
								<a href="{% url 'home' %}">									
									<span class="first">Home</span>
									<span class="second">Home</span>	
								</a>
							</li>
							<li>
								<a href="{% url 'home' %}#about">								
									<span class="first">About</span>
									<span class="second">About</span>	
								</a>
							</li>
							<li>
								<a href="{% url 'home' %}#portfolio">
									<span class="first">Portfolio</span>
									<span class="second">Portfolio</span>	
								</a>
							</li>
							<li>
								<a href="{% url 'home' %}#blogs">
									<span class="first">Blogs</span>
									<span class="second">Blogs</span>	
								</a>
							</li>
							<li>
								<a href="#contact">
									<span class="first">Contact</span>
									<span class="second">Contact</span>	
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /TOPBAR -->
	
	<!-- MOBILE MENU -->
	<div class="waxon_tm_mobile_menu">
		<div class="topbar_inner">
			<div class="container bigger">
				<div class="topbar_in">
					<div class="logo">
						<a href="{% url 'home' %}">{% for logo in site_logo %}<img src="{{logo.site_logo.url}}" alt="" />{% endfor %}</a>
					</div>
					<div class="my_trigger">
						<div class="hamburger hamburger--collapse-r">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="container">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'home' %}#about">About</a></li>
						<li><a href="{% url 'home' %}#portfolio">Portfolio</a></li>
						<li><a href="{% url 'home' %}#blogs">Blogs</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->
	
	<!-- ABOUT PAGE -->
	<div class="waxon_tm_about_page">
		<div class="container">
			<div class="waxon_tm_main_title">
				<div class="title">
					<h3>About<span class="bg">About</span></h3>
				</div>
			</div>
		</div>	
		<div class="waxon_tm_about">
			<div class="container">
				<div class="about_inner">
					<div class="left">
						{% for about in about_section %}
						<img class="thumbnail" src="{{about.about_picture.url}}" alt="" />  <!-- Animation Image classes: thumbnail, thumbnail-2, thumbnail-3, thumbnail-4,-->
						{% endfor %}
					</div>
					<div class="right">
						<div class="name">
							{% for main_hero in hero_section %}
							<h3>{{main_hero.first_name}} {{main_hero.last_name}}</h3>
							<span class="job">{{main_hero.profession_1}} &amp; {{main_hero.profession_2}}</span>
							{% endfor %}
						</div>
						<div class="text">
						{% for about in about_section %}
						<p>{{about.who_i_am}}</p>
						<p>{{about.what_i_do}}</p>
						{% endfor %}
						</div>
						<div class="waxon_tm_button" data-position="left">  <!-- Position: left, center, right -->
							{% for about in about_section  %}
							{% if about.cv %}
							<a href="{{ about.cv.url }}" download>
								<span>Download CV</span>
							</a>
							{% else %}
        					<span>No CV uploaded</span>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="waxon_tm_skills">
			<div class="container">
				<div class="skills_inner">
					<div class="waxon_tm_main_title">
						<div class="title">
							<h3>Skills<span class="bg">Skills</span></h3>
						</div>
					</div>
					<div class="progress_wrapper">
						<div class="line_progress waxon_progress">
							{% for skill in skills_section %}
							<div class="progress_inner" data-value="{{skill.skill_percent}}">
								<span><span class="label">{{skill.skill_name}}</span><span class="number">{{skill.skill_percent}}%</span></span>
								<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
							</div>
							{% endfor %}
						</div>
						<div class="circular_progress_bar">
							<ul>
								{% for language in languages_section %}
								<li>
									<div class="list_inner">
										<div class="myCircle" data-value="{{language.percent_decimal}}"></div>
										<div class="title"><span>{{language.language_name}}</span></div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="waxon_tm_timeline">
			<div class="container">
				<div class="waxon_tm_main_title">
					<div class="title">
						<h3>Timeline<span class="bg">Timeline</span></h3>
					</div>
				</div>
				<div class="timeline_wrapper">
					<div class="study">
						<div class="item_list">
							<ul>
								{% for timeline in timeline_section %}
								<li>
									<div class="list_inner">
										<div class="time">
											<span>{{timeline.start_year}} - {{timeline.end_year}}</span>
										</div>
										<div class="place">
											<h3>{{timeline.institute_university_name}}</h3>
											<span>{{timeline.degree_role}}</span>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="job">
						<div class="item_list">
							<ul>
								{% for timeline in timeline_experience_section %}
								<li>
									<div class="list_inner">
										<div class="time">
											<span>{{timeline.start_year}} - {{timeline.end_year}}</span>
										</div>
										<div class="place">
											<h3>{{timeline.title}}</h3>
											<span>{{timeline.description}}</span>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% for presentation in presentation_section %}
		<div class="waxon_tm_presentation">
			<div class="background jarallax" data-speed="0" data-img-url="{{presentation.presentation_image.url}}"></div>
			<div class="overlay"></div>
			<div class="content">
				<div class="fn_cs_video">
					<span class="rounded">
						<a class="popup-youtube" href="{{presentation.presentation_link}}s"></a>
					</span>
				</div>
				<div class="text">
					<p>{{presentation.title}}</p>
				</div>
				<div class="button">
					<a href="#contact">Contact Me</a>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="waxon_tm_counter">
			<div class="container">
				<div class="counter_list">
					<ul>
						{% for counter in project_skills_counter_section %}
						<li>
							<div class="list_inner">
								<h3><span class="tm_counter" data-from="0" data-to="{{counter.value}}" data-speed="2000">0</span></h3>
								<span class="title">{{counter.title}}</span>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /ABOUT PAGE -->
	<!-- CONTACT -->
	<div class="waxon_tm_contact" id="contact">
		<div class="bg_image"></div>
		<div class="container">
			<div class="contact_inner">
				<div class="waxon_tm_main_title">
					<div class="title">
						<h3>Get in Touch<span class="bg">Contact</span></h3>
					</div>
				</div>
				<div class="desc">
					{% for contact in contact_info %}
					<p>{{contact.contact_availability}}</p>
					{% endfor %}
				</div>
								<div class="wrapper">
					<div class="left wow fadeInLeft" data-wow-duration="0.8s">
						<div class="fields">
							{% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                        role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
							<form action="{% url 'contact' %}" method="POST" class="contact_form"  autocomplete="off">
								{% csrf_token %}
								<div class="first">
									<ul>
										<li>
											<input name="name"  id="name" type="text" placeholder="Name" required>
										</li>
										<li>
											<input id="email" name="email" type="text" placeholder="Email" required>
										</li>
									</ul>
								</div>
								<div class="last">
									<textarea id="message" name="message" placeholder="Message" required></textarea>
								</div>
								<div class="waxon_tm_button" data-position="center">
									<button id="send_message" type="submit">Send Message</button>
								</div>
							</form>
						</div>
					</div>
					<div class="right wow fadeInRight" data-wow-duration="0.8s">
						<div class="waxon_tm_map">
							<div class="mapouter"><div class="gmap_canvas">{% for location in contact_info %}<iframe width="100%" height="359" id="gmap_canvas" src="{{location.map_location}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>{% endfor %}<a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:359px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:359px;width:100%;}</style></div></div>
							<!-- Get your API here https://www.embedgooglemap.net -->
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- /CONTACT -->
	
	<!-- COPYRIGHT -->
{% include "footer.html" %}
